.profile {
  position: relative;
  width:300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  -webkit-box-shadow: 7px 7px 13px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 13px -1px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 13px -1px rgba(0,0,0,0.75);
  border-radius: 20px;
  margin: 1rem;
}

.photo {
  width:200px;
  height:200px;
  border-radius: 100%;
}
.container {
  position:relative;
}

.avatar {
  position:relative;
  width:200px;
  height: 200px;
  margin: 0 auto;
}

.new {
  position: absolute;
  left:70%;
  top:10%;
  background-color: aqua;
  padding:0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}


.container {
  display: flex;
  justify-content: center;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(215,127,12);
}

.counter:hover {
  background-color: rgb(246,243,197);
}

.number {
  font-size:7rem;
}

.button {
  font-size:2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  cursor:pointer;
  background: rgb(215,127,12);
  background: linear-gradient(
    90deg,
    rgba(215,127,12,1) 0%,
    rgba(253,220,29,1) 100%
  )
}